In [6]:
def fahr_to_kelvin(temp):
    converted = ((temp-32) * (5/9)) + 273.15
    return converted

In [7]:
result = fahr_to_kelvin(100)
result

310.92777777777775

In [8]:
fahr_to_kelvin(100)

310.92777777777775

In [10]:
print('Freezing point of water', fahr_to_kelvin(32))
print('Boiling point of water', fahr_to_kelvin(212))

Freezing point of water 273.15
Boiling point of water 373.15

In [11]:
def kelvin_to_celcius(temp_k):
    converted = temp_k - 273.15
    return converted

In [13]:
result = kelvin_to_celcius(0)
result

-273.15

In [17]:
result = kelvin_to_celcius(0)
print(result)

-273.15

In [18]:
def kelvin_to_celcius(temp_k):
    temp_k = fahr_to_kelvin(temp_f)
    result = fahr_to celcius(temp_k)
    return result

SyntaxError: invalid syntax (<ipython-input-18-afc5e02e262d>, line 3)

In [20]:
a = 'Hi'
b = ' everyone'
a+b

'Hi everyone'

In [23]:
def join_words(word1, word2):
    return word1 + word2

In [24]:
join_words('my name is ', 'xuanku')

'my name is xuanku'

In [25]:
def first_and_last(word):
    return word[0] + word[-1]

In [26]:
first_and_last('helium')

'hm'

In [27]:
my_numbers = [1,2,3,4,5,6,7,8,9,10]

def sum_numbers(my_numbers):
    return my_numbers

In [28]:
sum_numbers(my_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
my_numbers = [1,2,3,4,5,6,7,8,9,10]
sum_numbers = []
for num in my_numbers:
    sum_numbers.append(num*5)
print(sum_numbers)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [43]:
my_numbers = [1,2,3,4,5,6,7,8,9,10]

def sum_numbers(my_numbers):
    new_numbers = []
    for num in my_numbers:
        new_numbers.append(num*5)
    return new_numbers
sum_numbers(my_numbers)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [46]:
def sum_numbers(my_numbers):
    new_numbers = []
    for num in my_numbers:
        new_numbers.append(num*10)
    return new_numbers

In [47]:
print(sum_numbers([1,2,3,4,5]))

[10, 20, 30, 40, 50]